.customer-details-surname{
    color: rgb(66, 66, 66);
}
.cd-first-name{
    color: black;
    font-size: 1.8rem;
}
.cd-surname{
    color: rgb(66, 66, 66);
    font-size: 1.4rem;
}

.policies-table{
    overflow: scroll;
    height:30%;
}