.sidebar {
  background: white;;
  height: 94vh;
  border-radius: 0px 50px 50px 0px;
}

.sidebar-logo{
  color: #FF4E75;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all ease-in-out 200ms;
}
.sidebar-logo:hover{
  color: #112035;
  text-decoration: none;
}
.sidebar .link{
  color: black;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: all ease-in-out 200ms;
}
.sidebar .link:hover{
  color: #FF4E75;
  font-size: 1.05rem;
  font-weight: 400;
  text-decoration: none;
  transform: translateY(-1px);
  transition: all ease-in-out 200ms;
}

