.sidebar {
  background: white;
  height: calc(100vh - var(--sitePadding) * 2);
  border-radius: var(--borderRadius);
}

.sidebar-links {
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  color: #ff4e75;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all ease-in-out 200ms;
}
.sidebar-logo:hover {
  color: #112035;
  text-decoration: none;
}
.sidebar .link {
  color: black;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transition: all ease-in-out 200ms;
  margin-bottom: 16px;
}
.sidebar .link:hover {
  color: #ff4e75;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  transform: translateY(-1px);
  transition: all ease-in-out 200ms;
}
.sidebar .active {
  color: #ff4e75;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}
